<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Witaj</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

			<link rel="stylesheet" type="text/css" href="comments.css">
      <link rel="stylesheet" type="text/css" href="modal.css">

</head>
<body>

<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

              <button class="modal-default-button" @click="$emit('close')">
                OK
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<div id="app">



  <div class="container" >
            <div class="row" >
                <div class="col-md-8">
                  <div class="page-header">
                    <h1><small class="pull-right">{{comments.length}} komentarzy</small> Komentarze </h1>
                  </div>
                   <div class="comments-list">
                       <div class="media" v-for="c in comments">
                           <p class="pull-right"><small>Ocena: {{c.rating}}</small></p>
                            <a class="media-left" href="#">
                              <img src="http://lorempixel.com/40/40/people/1/">
                            </a>
                            <div class="media-body">

                              <h4 class="media-heading user_name">{{c.author}}</h4>
                              {{c.comment}}


                            </div>
                          </div>
                      </div>


                     <div class="koment" v-if='isLogged'>
                       <div>
                      <textarea class="form-control" id="text" name="text" v-model ="text" placeholder="Napisz co sądzisz..." rows="5"></textarea>
                        <h6 class="pull-right" id="count_message"></h6>
                        <button class="btn btn-info " @click="addComment(text,rate)" >Dodaj komentarz</button>
                        Twoja ocena:
                        <select v-model='rate' id="rate">
                      <option >1</option>
                      <option >2</option>
                      <option >3</option>
                      <option >4</option>
                      <option >5</option>
                      </select>
                   </div>
                    </div>


                   </div>


                </div>

            </div>


  <!-- <modal v-if="showModal" @close="showModal = false; refresh();">

    <h3 slot="header">Dodałeś komentarz</h3>
  </modal> -->



</div>



<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="comments.js"></script>

</body>
<footer>
        <p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#"> Tomasz Łapiński</a>, All rights reserved 2016-2017.</p>
    </footer>
</html>
