<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="modal.css">
<title>Witaj</title>

</head>
<body>

<h1>Komentarze</h1>


<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

              <button class="modal-default-button" @click="$emit('close')">
                OK
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<div id="app">

  <div  v-for="c in comments">
    <div >
      <p>{{ c.comment }}.</p>
      <p>{{ c.rating }}.</p>
      <h6>{{c.author}}</h6>
    </div>

  </div>

  <template v-if='isLogged'>
  <label><b>Dodaj komentarz</b></label></br>
  <textarea v-model ="text"></textarea>
  <label><b>Wybierz ocene</b></label>
  <select v-model='rate'>
    <option >1</option>
    <option >2</option>
    <option >3</option>
    <option >4</option>
    <option >5</option>
  </select>

  <button @click="addComment(text,rate)" >Skomentuj</button>

  <!-- use the modal component, pass in the prop -->
  <modal v-if="showModal" @close="showModal = false; refresh();">

    <!--
      you can use custom content here to overwrite
      default content
    -->
    <h3 slot="header">Dodałeś komentarz</h3>
  </modal>

</template>

</div>



<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="comments.js"></script>

</body>
</html>
