<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Witaj</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="stationIndex.css">
</head>
<body>


		<div id="app" >

<div>
      <nav class="navbar navbar-inverse ">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="stationIndex.html">CPNEO - Stacja paliw</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-form navbar-right">

                  <button @click="logout()" class="btn btn-success">Wyloguj się</button>
                </div>
              </div><!--/.navbar-collapse -->
            </div>
          </nav>
        </div>


<div class="hedrate">



  <div class="head">
<h1>{{result.name}}</h1>
<h2>{{result.city}} ul. {{result.street}} {{result.homeNumber}}</h2>
</div>

<div class="crate">
<!-- sddddddddddddddddddddd -->
<div >
    <div >
        <div >
          <div class=" well-sm">
              <div class="row">
                  <div class="col-xs-12 col-md-6 text-center">
                      <h1 class="rating-num">
                          {{result.rating}}</h1>
                      <div class="rating" >
                          <span class="glyphicon glyphicon-star" v-for="i in result.rating"></span>
                      </div>
                      <div>
                          <span class="glyphicon glyphicon-user"></span>{{result.comments.length}}
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                      <div class="row rating-desc">
                          <div class="col-xs-3 col-md-3 text-right">
                              <span class="glyphicon glyphicon-star"></span>5
                          </div>
                          <div class="col-xs-8 col-md-9">
                              <div class="progress progress-striped">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                      aria-valuemin="0" aria-valuemax="100" v-bind:style="{width: result.statistics.fiveStats +'%'}">
                                      <span class="sr-only">{{result.statistics.fiveStats}}%</span>
                                  </div>
                              </div>
                          </div>
                          <!-- end 5 -->
                          <div class="col-xs-3 col-md-3 text-right">
                              <span class="glyphicon glyphicon-star"></span>4
                          </div>
                          <div class="col-xs-8 col-md-9">
                              <div class="progress">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                      aria-valuemin="0" aria-valuemax="100" v-bind:style="{width: result.statistics.fourStats +'%'}">
                                      <span class="sr-only">{{result.statistics.fourStats}}%</span>
                                  </div>
                              </div>
                          </div>
                          <!-- end 4 -->
                          <div class="col-xs-3 col-md-3 text-right">
                              <span class="glyphicon glyphicon-star"></span>3
                          </div>
                          <div class="col-xs-8 col-md-9">
                              <div class="progress">
                                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                      aria-valuemin="0" aria-valuemax="100" v-bind:style="{width: result.statistics.threeStats +'%'}">
                                      <span class="sr-only">{{result.statistics.threeStats}}%</span>
                                  </div>
                              </div>
                          </div>
                          <!-- end 3 -->
                          <div class="col-xs-3 col-md-3 text-right">
                              <span class="glyphicon glyphicon-star"></span>2
                          </div>
                          <div class="col-xs-8 col-md-9">
                              <div class="progress">
                                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
                                      aria-valuemin="0" aria-valuemax="100" v-bind:style="{width: result.statistics.twoStats +'%'}">
                                      <span class="sr-only">{{result.statistics.twoStats}}%</span>
                                  </div>
                              </div>
                          </div>
                          <!-- end 2 -->
                          <div class="col-xs-3 col-md-3 text-right">
                              <span class="glyphicon glyphicon-star"></span>1
                          </div>
                          <div class="col-xs-8 col-md-9">
                              <div class="progress">
                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                      aria-valuemin="0" aria-valuemax="100" v-bind:style="{width: result.statistics.oneStats +'%'}">
                                      <span class="sr-only">{{result.statistics.oneStats}}%</span>
                                  </div>
                              </div>
                          </div>
                          <!-- end 1 -->
                      </div>
                      <!-- end row -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- assssssssssssssssssssssssssssssssssssssssssss -->
</div>
<!-- sddddddddddddddddddddd -->
</div>

<div class="priceBoxes">
  <div class="fuelPrice">
      <label><b>Cena PB95</b></label>
      <input type="number"  v-model ="pb95Price" class="form-control" required>
  </div>
  <div class="fuelPrice">
			<label><b>Cena PB98</b></label>
			<input type="number"  v-model ="pb98Price" class="form-control" required>
  </div>
  <div class="fuelPrice">
			<label><b>Cena ON</b></label>
			<input type="number"  v-model ="onPrice" class="form-control" required>
  </div>
  <div class="fuelPrice">
			<label><b>Cena LPG</b></label>
			<input type="number"  v-model ="lpgPrice" class="form-control" required>
  </div>

</div>

<div class="actual">
        <div class="fuelPrice">
          <div class="container-fluid">
			      <button @click="setPrices(pb95Price,pb98Price,onPrice,lpgPrice)" class="btn btn-success">Aktualizuj</button>
            <button @click="getComments()" class="btn btn-info" v-if="viewComment === false">Wyświetl Komentarze</button>
            <button @click="closeComments()" class="btn btn-info" v-if="viewComment === true" >Zamknij komentarze</button>
          </div>
				<h5 class="message">{{updateMesage}}</h5>
      </div>

</div>





      <div class="container"  v-if="viewComment === true">
                <div class="row" id="row" >
                    <div class="col-md-8">
                      <div class="page-header">
                        <h1><small class="pull-right">{{comments.length}} komentarzy</small> Komentarze </h1>
                      </div>
                       <div class="comments-list">
                           <div class="media" v-for="c in comments">
                               <p class="pull-right"><small>Ocena: {{c.rating}}</small></p>
                                <div class="media-body">

                                  <h4 class="media-heading user_name">{{c.author}}</h4>
                                  {{c.comment}}


                                </div>
                              </div>
                          </div>

</div>

	</div>

</div>
</div>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="stationIndex.js"></script>

</body>
<footer>
        <p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#"> Tomasz Łapiński</a>, All rights reserved 2016-2017.</p>
    </footer>
</html>
